<html>
  <head></head> 
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
      Guesses left: <%= guesses_left %>
    </p>
    <p>
      <%= message %>
    </p>
    <% if guess == secret_number || cheat_mode == "true" %>
      <p>
        The SECRET NUMBER is <%= secret_number %>
      </p>
    <% end %>
    <style>
      body {
        <% if message == "Way too high!" || message == "Way too low!" %>
          background: red;
        <% elsif message == "Too high!" || message == "Too low!" %>
          background: #FBDFDF;
        <% elsif message == "You got it right!" %>
          background: green;
        <% end %>
      }
    </style>
  </body>
</html>
