<html>
  <head></head> 
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
      <%= message %>
    </p>
    <% if guess == secret_number %>
      <p>
        The SECRET NUMBER is <%= secret_number %>
      </p>
    <% end %>
  </body>
</html>
